@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap");
:root {
  --white: #fff;
  --bs-gutter-x: 1.6rem !important;
  --grey: #aaa;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --border-top: 1px solid rgba(0, 0, 0, 0.1);
}

* {
  font-family: "roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
}
ul {
  list-style: none;
}
.pd-left {
  padding-left: initial !important;
}
.btn {
  margin-top: 10px;
  display: inline-block;
  padding: 8px 30px;
  font-size: 16px;
  border-radius: 4px;
  border: 2px solid rgb(0, 0, 0);
  cursor: pointer;
}
.btn:hover {
  background: #cb1c22;
  color: #fff;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 18px 124px;
  background: #cb1c22;
  box-shadow: var(--box-shadow);
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: initial;
}
.header .logo {
  font-weight: bold;
  font-size: 26px;
  line-height: 30px;
  color: var(--white);
}
.header .navbar {
  padding: 0;
}
.header .navbar ul {
  list-style: none;
  margin-bottom: initial;
  padding-left: initial;
}
.header .navbar ul li {
  position: relative;
  float: left;
}
.header .navbar ul li a {
  font-size: 14px;
  padding: 20px;
  color: #ffffff;
  display: block;
}
.menu-link.active {
  color: #000000;
  border-bottom: 2px solid rgb(255, 255, 255);
}
/* --------------------------- */
.header .navbar a:hover {
  color: rgb(0, 0, 0);
  background: none;
  
}

.header .navbar ul li ul {
  position: absolute;
  left: 0;
  width: 100%;
  background: #fff;
  display: none;
}
.header .navbar ul li ul a {
  font-size: 14px;
  padding: 20px;
  color: #000000 !important;
  display: block;
}
.header .navbar ul li ul li {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.header .navbar ul li ul li ul {
  left: 100%;
  top: 0;
}
.header .navbar ul li:focus-within > ul,
.header .navbar ul li:hover > ul {
  display: initial;
}
.menu-item:hover > .menu-link {
  background-color: rgba(255, 255, 255, 0.2);
}
.header .navbar ul li ul li:hover {
  display: initial;
  background: var(--grey);
}

.header .icons div {
  font-size: 16px;
  color: var(--white);
  margin-left: 10px;
  cursor: pointer;
}
.header .icons div:hover {
  color: var(--grey);
}
#menu-btn {
  display: none;
}
.header .search-form {
  position: absolute;
  top: 110%;
  right: -110%;
  width: 20rem;
  height: 3rem;
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.header .search-form.active {
  right: 2rem;
  transition: 0.5s linear;
}
.header .search-form input {
  height: 100%;
  width: 100%;
  background: none;
  border-radius: initial;
  border: hidden;
  text-transform: none;
  font-size: 14px;
  color: black;
  padding: 0 1rem;
}
.header .search-form input:focus-visible {
  border: hidden;
  outline: none;
}
.header .search-form label {
  font-size: 20px;
  padding-right: 15px;
  color: black;
  cursor: pointer;
}
.header .search-form label:hover {
  color: var(--grey);
}

.header .shopping-cart {
  position: absolute;
  top: 110%;
  right: -110%;
  width: 20rem;
  padding: 10px;
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
}
.header .shopping-cart.active {
  right: 2rem;
  transition: 0.5s linear;
}
.header .shopping-cart .box {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  margin: 10px 0;
}
.header .shopping-cart .box img {
  height: 100px;
}
.header .shopping-cart .box .bi-trash-fill {
  font-size: 20px;
  position: absolute;
  top: 40%;
  right: 20px;
  cursor: pointer;
  transform: translate(-50%);
}
.header .shopping-cart .box .bi-trash-fill:hover {
  color: var(--grey);
}
.header .shopping-cart .box .content h3 {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 10px;
}
.header .shopping-cart .box .content span {
  font-size: 14px;
}
.header .shopping-cart .box .content .quantity {
  padding-left: 10px;
}
.header .shopping-cart .total {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0;
  text-align: center;
  color: #cb1c22;
}
.header .shopping-cart .btn {
  display: block;
  text-align: center;
  margin: 10px;
}
/* ------banner */
.banner {
  margin-top: 96.8px;
  position: relative;
}
.banner .container-fluid {
  padding: 0;
}
.banner img {
  width: 100%;
}
.banner-content {
  padding: 0 124px;
  position: absolute;
  z-index: 1;
  top: 30%;
}
.banner-content h1 {
  font-size: 60px;
  font-weight: 500;
  line-height: 54px;
}
.banner-content span {
  padding-top: 14px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 34px;
}

.btn-default {
  margin-top: 30px;
  background-color: #ff5353;
  border-radius: 4px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;

  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 0.8;
  text-align: center;
  min-width: 170px;
  padding: 22px 25px;
  text-decoration: none;
}
.btn-default:hover {
  background-color: white;
  color: rgb(0, 0, 0);
  -webkit-transition: background 0.5s 0s ease;
  -moz-transition: background 0.5s 0s ease;
  -o-transition: background 0.5s 0s ease;
  transition: background 0.5s 0s ease;
}

/* ---------product---------- */
.text-medium {
  font-weight: 500;
}
.Featured-product {
  background: #fff;
  padding-bottom: 30px;
}
.Featured-product .container {
  padding: initial;
}
.product-header {
  text-align: center;
  padding-top: 80px;
  margin-left: auto;
  margin-right: auto;
}
.product-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 40px;
}

.product-title ul li {
  float: left;
}

.product-title ul li p {
  font-style: normal;
  cursor: pointer;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #000;
  padding-right: 40px;
}
/* ---showcase */
.row {
  margin-left: initial;
}
.card {
  background-color: #f2f2f2;
  border: initial;
  margin-bottom: 16px;
  border-radius: 4px;
}
.card-img-top {
  width: 100%;
  height: 100%;
  padding: 80px 85px 35px 85px;
}
.right .card-img-top {
  width: 96%;
  height: 100%;
  padding: 80px 85px 35px 85px;
}
.card-title {
  color: #000;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}
.product-large-link .card {
  margin-bottom: initial;
}
.product-large-link .card-title {
  padding-top: 20px;
}
.card-body {
  position: relative;
  text-align: center;
  padding-bottom: 60px;
}
.card-body .btn-default {
  margin-top: initial;
  padding: 18px 20px;
  min-width: 110px;
  display: none;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.card:hover .card-body .btn-default {
  display: block;
}
.show-case {
  position: relative;
}

.show-case-laptop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: translateX(150%);
  display: none;
  z-index: 2;
}
.show-case-tv {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: translateX(150%);
  display: none;
  z-index: 3;
}
.show-case-phukien {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: translateX(150%);
  display: none;
  z-index: 4;
}

.show-case-dt.active-laptop {
  display: block;
  animation: move-left 0.5s forwards;
}
@keyframes move-left {
  100% {
    transform: translateX(-150%);
  }
}

.show-case-laptop.active {
  display: block;
  animation: move-down 0.5s forwards;
}
@keyframes move-down {
  100% {
    transform: translateX(0);
  }
}
.show-case-tv.active {
  display: block;
  animation: move-down 0.5s forwards;
}
@keyframes move-down {
  100% {
    transform: translateX(0);
  }
}
.show-case-phukien.active {
  display: block;
  animation: move-down 0.5s forwards;
}
@keyframes move-down {
  100% {
    transform: translateX(0);
  }
}
/* ----------------------- */

.show-case-laptop.active-tv {
  transform: translateX(0);
  display: block;
  animation: move-left 0.5s forwards;
}
.show-case-laptop.active-tv {
  transform: translateX(0);
  display: block;
  animation: move-left 0.5s forwards;
}

.show-case-tv.active-phukien {
  display: block;
  animation: move-left 0.5s forwards;
}
@keyframes move-down {
  100% {
    transform: translateX(0);
  }
}
.show-case-phukien.active {
  display: block;
  animation: move-down 0.5s forwards;
}
@keyframes move-down {
  100% {
    transform: translateX(0);
  }
}

/* --------------product---------- */
.width {
  width: 740px;
}
.carousel-item img {
  max-width: 100%;
  height: 577px;
}
.margin-auto {
  margin-left: auto;
  margin-right: auto;
}
.carousel-caption-1 {
  position: absolute;
  right: 15%;
  bottom: 1.25rem;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
}

/* ------foot */
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.footer {
  background-color: #e9e2d8;
  display: block;
  margin-top: 500px;
  padding: 18px 124px;
  height: auto;
}
.footer .container{
    padding-left: initial;
    padding-right: initial;
}
.pd{
    padding-left: initial;
    padding-right: initial;
}
.foo-top {
  padding-top: 18px;
  border-bottom: 1px solid #d6d8d9;
}
.widget {
  position: relative;
}
.footer .widget .widget-title {
  margin-bottom: 25px;
  font-size: 16px;

  text-transform: uppercase;
}
.widget-navigation ul {
  padding-left: initial;
}
.widget-navigation li a {
  font-size: 14px;
  color: #888;
  line-height: 30px;
}
.offset-md-1 {
  margin-left: 8.333333%;
}
.app-btn {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 1px solid #d6d8d9;
  padding-bottom: 30px;
}
.app-btn a {
  flex-basis: 49%;
  padding: 12px 10px;
  border-radius: 5px;
  background-color: #fff;
  position: relative;
  padding-left: 35px;
}
.app-btn a i {
  color: #ff5353;
  font-size: 20px;
  margin-right: 5px;
  position: absolute;
  left: 9px;
  top: 30%;
}
.app-btn a p {
  margin-bottom: 0;
  color: #000;
  font-size: 12px;
  font-weight: 500;
  line-height: 0.8;
  text-transform: uppercase;
}
.app-btn a p span {
  display: block;
  font-size: 10px;
  font-weight: 400;
  color: #4a4a4a;
  line-height: 0.8;
  margin-bottom: 5px;
}
.app-btn a:hover,
.app-btn a.app-store {
  background-color: #ff5353;
}

.app-btn a:hover p,
.app-btn a:hover span,
.app-btn a:hover i,
.app-btn a.app-store p,
.app-btn a.app-store span,
.app-btn a.app-store i {
  color: #fff;
}
.social-media a {
  display: inline-block;
  font-size: 14px;
  color: #000;
}
.social-media a {
  background-color: #fff;
  line-height: 32px;
  text-align: center;
  height: 30px;
  width: 30px;
  margin-right: 10px;
}




















































































@media (max-width: 991px) {
  .header {
    padding: 20px;
  }
  .header .icons .fas {
    height: 24px;
    width: 24px;
    color: var(--white);
    margin-left: 5px;
    cursor: pointer;
    font-size: 100%;
  }
}
@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    border-top: var(--border-top);
    background: rgb(255, 255, 255);
    display: none;
  }
  .header .navbar a {
    font-size: 14px;
    margin: 10px 25px;
    display: block;
    color: #000000 !important;
  }
  .header .navbar.active {
    display: block;
  }
  .header .navbar ul li {
    width: 100%;
  }
  .header .navbar ul li ul {
    position: relative;
    width: 100%;
  }
  .header .navbar ul li a {
    padding: 10px;
  }
  .header .navbar ul li ul li {
    background: #eee;
  }
  .header .navbar ul li ul li ul {
    width: 100%;
    left: 0;
  }
  .header .navbar a:hover {
    background: none;
  }
}

@media (max-width: 450px) {
  .header .search-form {
    position: absolute;
    top: 110%;
    right: -110%;
    width: 16rem;
    height: 3rem;
    background: #fff;
    border-radius: 0.5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  .header .navbar ul li a {
    padding: 5px;
  }
}
