@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap");
:root {
  --white: #fff;
  --bs-gutter-x: 1.6rem !important;
  --grey: #aaa;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --border-top: 1px solid rgba(0, 0, 0, 0.1);
  --border:1px solid rgba(0, 0, 0, 0.3);
}

* {
  font-family: "roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
}
section{
  padding: 2rem 9%;
}
a {
  text-decoration: none !important;
}
ul {
  list-style: none;
}
.pd-left {
  padding-left: initial !important;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: .8rem 3ewm;
  font-size: 1.6rem;
  border-radius: 4px;
  border: 2px solid rgb(0, 0, 0);
  cursor: pointer;
}
.btn:hover {
  background: #ff5353;
  color: #fff;
}


.btn-default {
  margin-top: 3rem;
  background-color: #ff5353;
  border-radius: 4px;
  color: #fff;
  
  text-decoration: none;

  color: #fff;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 0.8;
  text-align: center;
  
  padding: 2.2rem 2.5rem;
  text-decoration: none;
}
.btn-default:hover {
  background-color: white;
  color: rgb(0, 0, 0);
  -webkit-transition: background 0.5s 0s ease;
  -moz-transition: background 0.5s 0s ease;
  -o-transition: background 0.5s 0s ease;
  transition: background 0.5s 0s ease;
}

img{
  width:100%;
}
.btn-top{
  margin-top: 1rem;
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  padding: .8rem 2rem;
  font-size: 1.6rem;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
  display: block;
  
}
.btn-top .hide{
  display: block;
}

/* -----------------------------------------------------------header---------------------------------------------- */

/* -----------------------------------------------------------banner---------------------------------------------- */

.banner{
  padding: 0;
  padding-top: 8.3rem;
}
.banner .banner-slide .slide{
min-height: 65vh;
display: flex;
align-items: center;
padding: 2rem;
padding-left: 9%;
background-size: cover!important;
background-position: center!important;
}
.banner .banner-slide .slide .content h1{
  font-weight: bold;
font-size: 6rem;
line-height: 5.4rem;
}
.banner .banner-slide .slide .content span{
  font-weight: 500;
font-size: 2.6rem;
line-height: 3.4rem;
}
.banner .swiper-button-next{
  top:90%;
  right: 2rem;
  
}
.banner .swiper-button-prev{
  top:90%;
  right: 8rem;
  left: auto;
  
}
.swiper-button-next,
 .swiper-button-prev{
  height: 5rem;
  width: 5rem;
  border-radius: 4px;
  background-color: rgba(204, 204, 204,0.5);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.3);

}
.swiper-button-next::after,
 .swiper-button-prev::after{
  font-size: 2rem;
  color: #4a4a4a;
  
}
.swiper-button-next:hover,
 .swiper-button-prev:hover{
  background-color: #fff;
  
}

/* -----------------------------------------------------------Featured---------------------------------------------- */

.Featured-product {
  background: #fff;
  width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
.featured{
  max-width: 100%;
}
.Featured-product .container {
  padding: initial;
}
.product-header {
  text-align: center;
  
  margin-left: auto;
  margin-right: auto;
}
.product-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 4rem;
}

.product-title ul li {
  float: left;
}

.product-title ul li p {
  font-style: normal;
  cursor: pointer;
  font-size: 2rem;
  line-height: 2.8rem;
  text-align: center;
  color: #000;
  padding-right: 4rem;
}
/* ---showcase ------------------------------------------------------------------------------------*/
.show-case{
  width: 100%;
}
.row {
  margin-left: initial;
}
.card {
  background-color: #f2f2f2;
  border: initial;
  
  border-radius: 4px;
}
 .card-img-top-1{
  width: 89%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  
  
}
.card-img-top {
  width: 70%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}

.card-title {
  color: #000;
  text-align: center;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.8rem;
}
.product-large-link .card {
  margin-bottom: initial;
}
.product-large-link .card-title {
  padding-top: 2rem;
}
.card-body {
  position: relative;
  text-align: center;
  padding-bottom: 4.5rem;
}
.card-body .btn-default {
  margin-top: initial;
  padding: 1.2rem 1.4rem;
  min-width: 11rem;
  display: none;
  position: absolute;
  left: 50%;
 top: 50%;
  font-size:1.4rem;
  transform: translateX(-50%);
  
}
.card:hover .card-body .btn-default {
  display: block;
}
.show-case {
  position: relative;
}


/* -----------------------------------------------------------tab slide---------------------------------------------- */


.unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px;
}

.section__item {
  box-sizing: border-box;
  padding: 0 8px 10px;
  flex-basis: 50%;
  max-width: 50%;
}

.featured-links {
  background-color: #fff;
  border-top: none;
  
}
.featured-title .featured .slick-list .slick-track{
  width: initial!important;
  
}
.featured-button{
  border-bottom: none!important;
}


.featured-links__list {
  align-items: center;
  display: flex;
  justify-content: center;
}

.featured-links__item {
  align-items: center;
  color: #133881;
  font-size: 1.2rem;
  font-weight: 600;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  line-height: 1.5rem;
  height: 4rem !important;
  text-align: center;
  box-sizing: border-box;
  text-decoration: none;
}

.featured-links__item:hover,
.featured-links__item:focus {
  outline: none;
  outline-offset: 0;
}
.slick-track-1 .slick-list .slick-track{
  transform: translate3d(0, 0, 0)!important ;
}
.slick-current.featured-links__item {
  background-color: #133881;
  color: #fff;
  border-radius: 6px 6px 0 0;
}



.tab-content--slider .slick-arrow {
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  color: #707070;
  cursor: pointer;
  font-size: 0;
  height: 2.4rem;
  padding: 0;
  position: absolute;
  text-align: center;
  bottom: 1.5rem;
  width: 2.4rem;
  line-height: 2.4rem;
  z-index: 99;
}

.tab-content--slider .slick-prev {
  left: 1.5rem;
}

.tab-content--slider .slick-next {
  right: 1.5rem;
}

.tab-content--slider .slick-dots li {
  margin: 0 .5rem;
}

.tab-content--slider .slick-dots button {
  display: block;
  width: 6px;
  height: 6px;
  padding: 0;
  border: none;
  border-radius: 100%;
  background-color: #707070;
  text-indent: -9999px;
}

.tab-content--slider .slick-dots .slick-active button {
  background-color: #0e357f;
}

.tab-content--slider .slick-dots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 23px;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 0;
  list-style-type: none;
}

.tab-info__item {
  border-bottom: 1px solid #d9e4e6;
  display: block;
  overflow: hidden;
  padding: 14px 16px;
}

.tab-info__link {
  color: #000;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
  text-decoration: none;
}

.tab-info__link:hover {
  color: #133881;
}
.featured-button .slick-prev ,.featured-button .slick-next , .slick-dots{
  display: none !important;
}

.slick-track .featured-links__item{
  width:auto!important;
  font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #000;
    text-align: center;
    margin: 16px 20px;
    
}


.slick-track .slick-current.featured-links__item{
  background-color: initial;
  border-radius: initial;
  border-bottom: 2px solid rgb(58, 58, 58)
}
.slick-track p {
  font-weight: 400;
}






/* -----------------------------------------------------------product-phone---------------------------------------------- */
.product-phone {
  background: #fff;
  width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}



.carousel-caption h5{
  font-size: 20px;
  color: #fff;
  /* padding-bottom: 40px; */
}
.carousel-caption .buttons .btn-default {
  margin : 0 20px 0 20px;
  padding: 18.5px 65px;
  min-width: initial;
  background: rgba(255, 255, 255, 0.1);
  display: none;
  font-size: 14px;
  /* position: absolute;
  left: 60%;
  top: 50%;
  
  transform: translateX(-50%); */

}
.carousel-caption .buttons .btn-default-1{
  margin : 0 20px 0 20px;
  padding: 18.5px 42px;
  min-width: initial;
  font-weight: 500;
  line-height: 0.8;
  text-align: center;
  border-radius: 4px;
  
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
  display: none;
  font-size: 14px;
  /* position: absolute;
  left: 33%;
  top: 50%;
 
  transform: translateX(-50%); */
}
.show-case-phone:hover .carousel-caption .buttons .btn-default {
  display: block;

}
.show-case-phone:hover .carousel-caption .buttons .btn-default-1 {
  display: block;

}
.carousel-caption .buttons .btn-default:hover , .carousel-caption .buttons .btn-default-1:hover{
  background-color: #ff5353;
  color: rgb(255, 255, 255);
  -webkit-transition: background 0.5s 0s ease;
  -moz-transition: background 0.5s 0s ease;
  -o-transition: background 0.5s 0s ease;
  transition: background 0.5s 0s ease;
}
/* --------------------------------------------------------------------------------------------- */

.in-bl{
  display: inline-block;
}
.product-laptop, .product-tv{
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.card-img-laptop {
  width: 36%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}
.product-laptop .btn{
  border: 1px solid #D9D9D9;
}
.btn-button{
  background-color: #fff;
}

.btn-button-1{
  background-color: #ff5353;
}

.product-laptop .btn-button-1{
  border: initial;
  color: #fff;
}

/* -----------------------------------------------------------product-pk---------------------------------------------- */

.product-phukien {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  
}
  
.product-phukien .swiper-pagination{
  bottom: -3px;
  
}
.product-phukien .swiper-pagination-bullet{
  background: #585858!important;
}
.product-phukien .card{
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
  border-bottom: none;
   border-radius: initial;

}
.product-phukien .card:hover .card-img-pk{
  transform: scale(1.1);
 
   
}
.product-phukien .card-img-link  {
  
  margin: 10px 15;
}
.card-img-pk {
  width: 90%;
  height: 100%;
  margin: 10px auto;
}
.product-phukien .card-body{
  text-align: initial;
  padding-bottom: initial;
}
.product-phukien .card-body .card-title{
  text-align: initial;
  font-weight: bold;
font-size: 18px;
line-height: 26px;
}
.product-phukien .card .list-group .list-group-item{
  border-top: initial;
  border-bottom: initial;
}
.special-price{
  font-weight: 500;
font-size: 18px;
line-height: 26px;
color: #ff5353;
}
.old-price{
  font-size: 16px;
line-height: 18px;
color: #707070;
text-decoration: line-through;
}
.button-product-cart{
background: #D9D9D9;

}
.button-product-buy{
  background-color: #ff5353;
  
  }
.product-phukien  .btn{
  font-weight: 500;
font-size: 14px;
line-height: 22px;
border: initial;
margin-top: initial;
padding: 9px 0;
background: none;

}
.product-phukien  .btn:hover{
  color: initial;
}
.product-phukien  .btn:focus{
  box-shadow: none;
}

.swiper-button-next,
.swiper-button-prev{
  top: 45%;
}













































/* -----------------------------------------------------------responsive---------------------------------------------- */

@media (max-width: 991px) {
  html{
    font-size: 55%;
  }
  
}




@media (max-width: 768px) {
  html{
    font-size: 50%;
  }
  
}

@media (max-width: 450px) {
  html{
    font-size: 45%;
  }
 
}
