.menu{
    padding: 50px 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.item{
    list-style: none;
}
.item a{
    color: black;
    font-size: 20px;
   text-decoration: none;
}
.item a:hover{
    color: rgb(187, 3, 3);
    
}