.header{
    
    height: 80px;
    text-align: center;
   
}
.nav_menu{
    background-color: rgb(161, 203, 241); 
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    
}

.nav_menu li{
    display: inline-block;
    font-size: 20px;
    padding: 20px;
    
}
.img{
    padding: 180px;
    text-align:center;
}
.text {
    
    text-indent: 10px;
    width: 75%;
}
a:hover{
   
    display: inline-block;
    text-decoration: none;
    background-color: green;
    text-align: center;
    color: ivory;
}

h1{
    text-shadow: 2px 2px 5px rgb(243, 28, 12);
    background-color:white ;
    
}
body{
    background-color: rgb(13, 13, 14); 
}
 .text p{
    color:rgb(255, 255, 255)
}
 h2{
    color:rgb(27, 233, 71)
 }